@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
:root {
    --texto-logo-cor: blue;
    --texto-logo: "Space Grotesk";
    --texto: "Space Grotesk";
    --cor-branco: white;
    --cor-botao: #3498db;
    --cor-laranja: #ff9021;
    --cor-laranja-claro: #e8af35;
    --cor-roxo: #9156e7;
}